@inject IDialogService DialogService

<FluentCard>
    <FluentHeader>
        <h2>@_personalityViewModel?.CharacterName</h2>
    </FluentHeader>
    <FluentBodyContent>
        <div>
            <strong>Class:</strong> @_personalityViewModel?.ClassName <br />
            <strong>Level:</strong> @_personalityViewModel?.Level <br />
            <strong>Background:</strong> @_personalityViewModel?.Background <br />
            <strong>Player Name:</strong> @_personalityViewModel?.PlayerName <br />
            <strong>Race:</strong> @_personalityViewModel?.Race <br />
            <strong>Attitude:</strong> @_personalityViewModel?.Attitute <br />
            <strong>Experience:</strong> @_personalityViewModel?.Experience <br />
        </div>
    </FluentBodyContent>
    <FluentFooter>
        <FluentButton OnClick="EditPersonalityViewModel">Edit</FluentButton>
    </FluentFooter>
</FluentCard>


