@inherits LayoutComponentBas

@inject MainViewModel ViewModel

<CascadingValue Name="@CascadeValueNames.DataContext" Value="@ViewModel">
    <div class="page">
    <div class="sidebar">
        <NavMenu CurrentCharacterExpression="@(() => ViewModel.CurrentCharacterViewModel)" />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>

            <FluentDialogProvider />
    </main>
</div>
</CascadingValue>


