@typeparam TViewModel
@implements IDialogContentComponent<IValidateAndCopyableViewModel<TViewModel>>

<FluentDialogHeader>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
    <br />
    <FluentDivider />
</FluentDialogHeader>

<FluentDialogBody>
    <EditForm EditContext="@_editContext">
        <FluentStack 
            Orientation="Orientation.Vertical" 
            VerticalAlignment="VerticalAlignment.Center" 
            HorizontalAlignment="HorizontalAlignment.Center">
            @ChildContent
        </FluentStack>

        <div style="color: var(--error);">
            <br />
            <FluentDivider />
            <FluentValidationSummary />
        </div>
    </EditForm>
</FluentDialogBody>

<FluentDialogFooter>
    <br />
    <FluentDivider />
    <br />
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
        <FluentButton OnClick="CloseDialogAsync" Appearance="Appearance.Accent" IconStart="(new Icons.Regular.Size20.Send())">@SubmitButtonText</FluentButton>
    </FluentStack>
</FluentDialogFooter>
    